{% load static %}
<!DOCTYPE html>
<html lang="ru" dir="ltr">
<head>
    <meta charset="utf-8">
    <title>Счетчик слов и символов</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/word_style.css' %}">
</head>
<body>
<div class="navbar">
    <h1>Счетчик слов и символов</h1>
</div>

<div class="container">
    {% if i %}
    <div class="result-card">
    <h3>{{ word }} слов в этом тексте</h3>
    </div>
    {% endif %}
    
    <div class="form-container">
    <form action="" method="POST">
        {% csrf_token %}
        <div class="form-group">
        <label class="label" for="text1">Вставьте текст</label>
        <textarea class="form-control" placeholder="Вставьте текст здесь для подсчёта слов и символов"
                    name="texttocount" id="text1" rows="8">{{ text }}</textarea>
        </div>
        
        <!-- Ads section start -->
        <div class="ads-section">
        </div>
        <!-- Ads section end -->
        
        <div class="form-group text-center">
        <button type="submit" class="submit-button">Запустить счетчик</button>
        </div>
    </form>
    </div>
</div>
</body>
</html>