html {
    max-width: 100%;
    overflow-x: hidden; /* Чтобы отключить горизонтальную прокрутку */
}
body {
    font-family: Arial, sans-serif;
    background-color: #f9faf8;
    margin: 0;
    padding: 0;
    }
    .navbar {
    background-color: #cdff28;
    color: #0c6500;
    padding: 15px 0;
    text-align: center;
    }
    .navbar h1 {
    margin: 0;
    }
    .container {
    margin-top: 50px;
    padding: 20px;
    }
    .result-card {
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #0c6500;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    .result-card h3 {
    margin-top: 0;
    }
    .result-card p {
    margin: 5px 0;
    }
    .form-container {
    background-color: #d4d6c2;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    .form-group label {
    font-weight: bold;
    }
    .form-group textarea {
    background-color: #f3f5f0;
    resize: vertical;
    }
    .ads-section {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-style: italic;
    color: #555;
    }
    .submit-button {
    width: 25%;
    background-color: #cdff28;
    color: #0c6500;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
    }
    .submit-button:hover {
    background-color: #add724;
    }